<footer class="page-footer font-small bg-dark pt-2 text-white">
  <div class="container">
    <div class="row my-1">
      <div class="col-6 text-right">
        <a href="/facebook/url/here" title="Visit LAGOM's Facebook page" class="social-link">
          <i class="fab fa-facebook-f fa-lg white-text"></i>
        </a>
      </div>
      <div class="col-6">
        <a href="/flickr/url/here" title="Visit LAGOM's Flickr page" class="social-link">
          <i class="fab fa-flickr fa-lg white-text"></i>
        </a>
    </div>
    </div>
  </div>

  <div class="footer-copyright py-2 text-center">
    © {{currentYear}} Copyright:
    <a href="https://twinnation.org/">
      <strong> twinnation.org</strong>
    </a>
  </div>
</footer>
