/* You can add global styles to this file, and also import other style files */

body {
  background-color: #EEE;
  font-family: Nixie One;
  min-width: 600px;
}

.title {
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 130%;
}
