<div class="container-fluid text-center pb-5">
  <div class="row" id="page-control">
    <div class="col-4">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary">Prev</button>
    </div>
    <div class="col-4 my-auto">
      You are viewing page {{currentPage}} out of {{maxPage}}
    </div>
    <div class="col-4">
      <button (click)="nextPage()" [disabled]="currentPage === this.maxPage" class="btn btn-secondary">Next</button>
    </div>
  </div>

  <div *ngFor="let row of photoRows" class="row">
    <div *ngFor="let photo of row" class="col-4">
      <div>
        <div class="title">
          {{photo.name}}
        </div>
        <img src="{{photo.url}}" alt="{{photo.name}}" class="rounded img-fluid" />
      </div>
    </div>
  </div>

</div>
