<div class="container-fluid text-center pb-5">
  <div class="row" id="page-control">
    <div class="col-4">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btn-secondary">Prev</button>
    </div>
    <div class="col-4 my-auto">
      You are viewing page {{currentPage}} out of {{maxPage}}
    </div>
    <div class="col-4">
      <button (click)="nextPage()" [disabled]="currentPage === this.maxPage" class="btn btn-secondary">Next</button>
    </div>
  </div>

  <div *ngFor="let row of photoRows" class="row {{galleryClass}} [@images]" id="gallery">
    <div *ngFor="let photo of row" class="col-4">
      <div>
        <div class="title">
          {{photo.name}}
        </div>
        <a href="{{photo.postUrl}}" target="_blank">
          <img src="{{photo.imageUrl}}" alt="{{photo.name}}" class="rounded img-fluid" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" />
        </a>
      </div>
    </div>
  </div>

</div>
